<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qingjiu.yys.mapper.ShishenMapper">
  <resultMap id="BaseResultMap" type="cn.qingjiu.yys.entity.Shishen">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shishen_name" jdbcType="VARCHAR" property="shishenName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shishen_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shishen
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shishen
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.qingjiu.yys.entity.Shishen">
    insert into shishen (id, shishen_name)
    values (#{id,jdbcType=INTEGER}, #{shishenName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.qingjiu.yys.entity.Shishen">
    insert into shishen
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shishenName != null">
        shishen_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shishenName != null">
        #{shishenName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.qingjiu.yys.entity.Shishen">
    update shishen
    <set>
      <if test="shishenName != null">
        shishen_name = #{shishenName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.qingjiu.yys.entity.Shishen">
    update shishen
    set shishen_name = #{shishenName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>